# Semana 03 - Parte 02

Autor: Mg. Daniel Lévano / Mg. Flor Cerdán
Temas:
1. Colecciones de datos
2. Estructuras Decisivas y Estructuras Repetitivas
3. Funciones
4. Clases y objetos

*1*. Colecciones

In [1]:
# 1.1. Listas
# Es una colección de elementos que puede ser ordenada, modificada, etc..
# Se identifica por los corchetes
# Ejemplo:
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [2]:
# Tambien se puede imprimir con solo mencional la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [3]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Bernaola
Chipana

In [4]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [5]:
# Mostramos como quedó la lista
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [7]:
# Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [8]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [9]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Gomez")
aula

['Chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [10]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [11]:
# Para recorrrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Navarro
Hermitaño
Gomez

In [12]:
# Para invertir la lista utilizamos reverse()
# invertir NO significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chavez']

In [13]:
# Parar ordenar una lista utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [14]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa que tiene un índice) que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni eliminar.
# se identifica por los parentesis
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [15]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa que tiene un índice) que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni eliminar.
# se identifica por los parentesis
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [16]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [17]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [18]:
# 1.3 Conjuntos
# Es una colección de elementos que no está ordenado
 # (Significa que no tiene un índice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [19]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Navarro
Gomez
Chipana
Bernaola

In [20]:
# Observación: No se puede acceder por posición pues no considera indexación
# Por ejemplo:
# conjunto_aula[2] devolvería un mensaje de error

In [21]:
# Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

4

In [22]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [23]:
# 1.4. Diccionarios
# Es una colección de elementos, que están indexados,
# no estan ordenados y se pueden modificar
# Son escritos entre llaves y están formados por pares de elementos
#  INDICE:VALOR
diccionario_aula = {2:'Bernaola', '1':'Chipana', 'dos':'Gomez', '3':'Navarro',
                    '0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [24]:
# Del Diccionario: diccionario_aula extraer el valor cuyo índice sea cero en String:
diccionario_aula['0']

'Palomino'

In [25]:
diccionario_aula[2]

'Bernaola'

In [26]:
diccionario_aula["dos"]

'Gomez'

In [27]:
# Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [28]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo,eliminar el elmento de índice dos.ejemplo: Para eliminar a Bernaola que tendríamos que hacer:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [29]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [30]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los índices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [31]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [32]:
# 1.5. Ejercicio
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista
# tiempo: 12 minutos

*2*. Bucles y condiciones

In [33]:
# 2.1 Estructuras Decisivas (if, elif, else)

In [34]:
# if
# Problema: Dado el precio de 3 productos ingresados por el teclado, aplicar un descuento del 10% si la
# venta es mayor o igual a 1000.

In [35]:
# Solución
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total>=1000:
    total *= 0.9
print(f"El total a pagar es: {total}")

Producto 1: 1000
Producto 2: 20
Producto 3: 30
El total a pagar es: 945.0

In [36]:
# if-else

In [37]:
# Problema 01 (Recordando)
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista

In [38]:
# Solución:
LP3 = ["FIGUEROA", "BERNAOLA", "CABALLERO", "CALDERON", "CARRASCO", "CENTENO", "CHALQUE", "CHAVEZ",
       "CONDORI", "CRUZ", "PALACIOS", "PALOMINO", "QUISPE", "RAMOS", "RODAS", "SILVERA",
       "TALAVERA", "TINEO", "VICTORIO", "VILCA", "ZEA"]

apellido = input("Ingresa nombre a buscar: ")

# Como los datos de la lista están en mayúscula, utilizo upper()
if apellido.upper() in LP3:
    print("Si está en la lista de LP3")
else:
    print("No está en la lista de LP3")

Ingresa nombre a buscar: ramos
Si está en la lista de LP3

In [39]:
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado,
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

# Tiempo asignado: 12 minutos

In [40]:
# Solución
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos erroneos")
else:
    if ventas<=1000:
        print("Categoria A")
    else:
        if ventas <=2000:
            print("Categoria B")
        else:
            if ventas <= 5000:
                print("Categoria C")
            else:
                print("Categoria D")

Importe de ventas realizadas: 10000
Categoria D

In [41]:
# elif
# Problema 03, Solucionar el problema anterior utilizando elif

# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado,
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

# Tiempo asignado: 12 minutos

In [42]:
# Solución

ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos erroneos")
elif ventas<=1000:
    print("Categoria A")
elif ventas <=2000:
    print("Categoria B")
elif ventas <= 5000:
    print("Categoria C")
else:
    print("Categoria D")

Importe de ventas realizadas: 10000
Categoria D

In [43]:
# 2.2 Estructuras repetitivas

In [44]:
# for

In [45]:
# Problema 01:
# Mostrar los elementos de una lista utilizando for

In [46]:
# Solución
aula = ['Bernaola','Chipana','Gomez','Navarro']

# Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Bernaola
Chipana
Gomez
Navarro

In [47]:
# Problema 02:
# Dado una cadena ingresado por teclado, mostrar cada caracter de la cadena, utilizando la estructura for

In [48]:
# Solución
cadena = input("Ingrese Cadena:")
for caracter in cadena:
    print(caracter)

Ingrese Cadena:En todo tiempo ama el amigo. Prov 17:17
E
n

t
o
d
o

t
i
e
m
p
o

a
m
a

e
l

a
m
i
g
o
.

P
r
o
v

1
7
:
1
7

In [49]:
# Para generar rangos de números utilizamos range()
range(5)
# [0, 5>

range(0, 5)

In [50]:
# Problema 02
# Imprimir los números de 0 a 10, utilizando for
for numero in range(11):
    print (numero)

0
1
2
3
4
5
6
7
8
9
10

In [51]:
# Problema 03
# Imprimir los números de 5 a 10, utilizando for
for numero in range(5,11):
    print (numero)

5
6
7
8
9
10

In [52]:
# Problema 02
# Imprimir los números de 10 a 20, utilizando for
for numero in range(10, 22, 2):
    print (numero)

10
12
14
16
18
20

In [53]:
# Tambien funcionan los bucles anidados:

In [54]:
# Problema 03
# Dado una lista de números, utilizando el algoritmo de burbuja ordenarlos de menor a mayor
# Tiempo asignado: 12 minutos

# Codigo en java
# package ordenamiento;
# public class burbuja {
#    public static void main(String[] args) {
#        int temp;
#        int lista[]={12,5,1,4,10,0};
#        for(int i=0;i<lista.length-1;i++){
#            for(int j=i+1; j<lista.length; j++){
#                if(lista[i]>lista[j]){
#                    temp = lista[i];
#                    lista[i] = lista[j];
#                    lista[j] = temp;
#                }
#            }
#        }
#        System.out.println("Lista ordenada");
#        for(int a=0; a<lista.length; a++){
#                    System.out.print(lista[a] + " ");
#        }
#    }
# }

In [11]:
# Solución
print("Lista inicial: ")
lista = [10, 20, 5, -10, 100, 0 , 50, 17, 2000,-1000,0]
print(lista)
i=0
for i in range(0,len(lista)-1):
    for j in range(i+1,len(lista)):
        if lista[i]>lista[j]:
            temp = lista[i]
            lista[i] = lista[j]
            lista[j] = temp  
        print("i: {} - j:{} = {}".format(i,j,lista))
print("Lista ordena:")
print(lista)

Lista inicial:
[10, 20, 5, -10, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:1 = [10, 20, 5, -10, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:2 = [5, 20, 10, -10, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:3 = [-10, 20, 10, 5, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:4 = [-10, 20, 10, 5, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:5 = [-10, 20, 10, 5, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:6 = [-10, 20, 10, 5, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:7 = [-10, 20, 10, 5, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:8 = [-10, 20, 10, 5, 100, 0, 50, 17, 2000, -1000, 0]
i: 0 - j:9 = [-1000, 20, 10, 5, 100, 0, 50, 17, 2000, -10, 0]
i: 0 - j:10 = [-1000, 20, 10, 5, 100, 0, 50, 17, 2000, -10, 0]
i: 1 - j:2 = [-1000, 10, 20, 5, 100, 0, 50, 17, 2000, -10, 0]
i: 1 - j:3 = [-1000, 5, 20, 10, 100, 0, 50, 17, 2000, -10, 0]
i: 1 - j:4 = [-1000, 5, 20, 10, 100, 0, 50, 17, 2000, -10, 0]
i: 1 - j:5 = [-1000, 0, 20, 10, 100, 5, 50, 17, 2000, -10, 0]
i: 1 - j:6 = [-1000, 0, 20, 10, 100, 5, 50, 17, 2000, -10, 0]
i: 1 - j:7 = [-1000, 0, 20, 10, 100, 5, 50, 17, 2000, -10, 0]
i: 1 - j:8 = [-1000, 0, 20, 10, 100, 5, 50, 17, 2000, -10, 0]
i: 1 - j:9 = [-1000, -10, 20, 10, 100, 5, 50, 17, 2000, 0, 0]
i: 1 - j:10 = [-1000, -10, 20, 10, 100, 5, 50, 17, 2000, 0, 0]
i: 2 - j:3 = [-1000, -10, 10, 20, 100, 5, 50, 17, 2000, 0, 0]
i: 2 - j:4 = [-1000, -10, 10, 20, 100, 5, 50, 17, 2000, 0, 0]
i: 2 - j:5 = [-1000, -10, 5, 20, 100, 10, 50, 17, 2000, 0, 0]
i: 2 - j:6 = [-1000, -10, 5, 20, 100, 10, 50, 17, 2000, 0, 0]
i: 2 - j:7 = [-1000, -10, 5, 20, 100, 10, 50, 17, 2000, 0, 0]
i: 2 - j:8 = [-1000, -10, 5, 20, 100, 10, 50, 17, 2000, 0, 0]
i: 2 - j:9 = [-1000, -10, 0, 20, 100, 10, 50, 17, 2000, 5, 0]
i: 2 - j:10 = [-1000, -10, 0, 20, 100, 10, 50, 17, 2000, 5, 0]
i: 3 - j:4 = [-1000, -10, 0, 20, 100, 10, 50, 17, 2000, 5, 0]
i: 3 - j:5 = [-1000, -10, 0, 10, 100, 20, 50, 17, 2000, 5, 0]
i: 3 - j:6 = [-1000, -10, 0, 10, 100, 20, 50, 17, 2000, 5, 0]
i: 3 - j:7 = [-1000, -10, 0, 10, 100, 20, 50, 17, 2000, 5, 0]
i: 3 - j:8 = [-1000, -10, 0, 10, 100, 20, 50, 17, 2000, 5, 0]
i: 3 - j:9 = [-1000, -10, 0, 5, 100, 20, 50, 17, 2000, 10, 0]
i: 3 - j:10 = [-1000, -10, 0, 0, 100, 20, 50, 17, 2000, 10, 5]
i: 4 - j:5 = [-1000, -10, 0, 0, 20, 100, 50, 17, 2000, 10, 5]
i: 4 - j:6 = [-1000, -10, 0, 0, 20, 100, 50, 17, 2000, 10, 5]
i: 4 - j:7 = [-1000, -10, 0, 0, 17, 100, 50, 20, 2000, 10, 5]
i: 4 - j:8 = [-1000, -10, 0, 0, 17, 100, 50, 20, 2000, 10, 5]
i: 4 - j:9 = [-1000, -10, 0, 0, 10, 100, 50, 20, 2000, 17, 5]
i: 4 - j:10 = [-1000, -10, 0, 0, 5, 100, 50, 20, 2000, 17, 10]
i: 5 - j:6 = [-1000, -10, 0, 0, 5, 50, 100, 20, 2000, 17, 10]
i: 5 - j:7 = [-1000, -10, 0, 0, 5, 20, 100, 50, 2000, 17, 10]
i: 5 - j:8 = [-1000, -10, 0, 0, 5, 20, 100, 50, 2000, 17, 10]
i: 5 - j:9 = [-1000, -10, 0, 0, 5, 17, 100, 50, 2000, 20, 10]
i: 5 - j:10 = [-1000, -10, 0, 0, 5, 10, 100, 50, 2000, 20, 17]
i: 6 - j:7 = [-1000, -10, 0, 0, 5, 10, 50, 100, 2000, 20, 17]
i: 6 - j:8 = [-1000, -10, 0, 0, 5, 10, 50, 100, 2000, 20, 17]
i: 6 - j:9 = [-1000, -10, 0, 0, 5, 10, 20, 100, 2000, 50, 17]
i: 6 - j:10 = [-1000, -10, 0, 0, 5, 10, 17, 100, 2000, 50, 20]
i: 7 - j:8 = [-1000, -10, 0, 0, 5, 10, 17, 100, 2000, 50, 20]
i: 7 - j:9 = [-1000, -10, 0, 0, 5, 10, 17, 50, 2000, 100, 20]
i: 7 - j:10 = [-1000, -10, 0, 0, 5, 10, 17, 20, 2000, 100, 50]
i: 8 - j:9 = [-1000, -10, 0, 0, 5, 10, 17, 20, 100, 2000, 50]
i: 8 - j:10 = [-1000, -10, 0, 0, 5, 10, 17, 20, 50, 2000, 100]
i: 9 - j:10 = [-1000, -10, 0, 0, 5, 10, 17, 20, 50, 100, 2000]
Lista ordena:
[-1000, -10, 0, 0, 5, 10, 17, 20, 50, 100, 2000]

In [56]:
# while
# Permite ejecutar un conjunto de acciones mientras se cumpla una condición

In [57]:
# Ejemplo:
numero = 1
fin = 10
while numero <= fin:
    print(numero)
    numero+=1

1
2
3
4
5
6
7
8
9
10

3. Funciones

In [59]:
# También conocidos como métodos

# Para crear un método utilizamos: def
# Tenemos 4 métodos:
# - Métodos vacíos
# - Métodos que reciben valores
# - Métodos que devuelven un valor
# - Métodos que reciben y devuelven valores

In [60]:
# 3.1 Métodos vacíos
# Explicación: No recibe valores (Parámetros)

def saludo():
    print("Bienvenidos al curso de LP3")
    print("**** Python ****")

In [61]:
saludo()

Bienvenidos al curso de LP3
**** Python ****

In [62]:
# 3.2 Métodos que reciben valores

def factorial(numero):
    fac = 1
    for i in range(1,numero+1):
        fac*=i
        # fac = fac*i
    print(f"El factorial es: {fac}")

In [63]:
numero = int(input("Ingrese Numero: "))
factorial(numero)

Ingrese Numero: 10
El factorial es: 3628800

In [64]:
# 3.3 Métodos que devuelven valores
def saludo2():
    mensaje = "Bienvenidos a LP3"
    return mensaje

In [65]:
print(saludo2())

Bienvenidos a LP3

In [66]:
# 3.4 Métodos que reciben y devuelven valores

def factorial2(numero):
    fac = 1
    for i in range(1,numero+1):
        fac*=i
        # fac = fac*i
    return fac

In [67]:
numero = int(input("Numero: "))
print(f"El factorial de {numero} es {factorial2(numero)}")

Numero: 10
El factorial de 10 es 3628800

In [68]:
# Otro ejemplo
# Calcular el IGV
def obtenerigv(importe):
    return importe*0.19

In [69]:
obtenerigv(150)

28.5

In [70]:
factorial2(5)+20

140

4. Clases y Objetos

In [71]:
# Problema 01

# Crear la siguiente clase:
#   - Clase: Persona
#   - Atributos: nombre, apellido, fecha_nacimiento, dni

In [72]:
class Persona:
    nombre = ""
    apellidos = ""
    dni = ""
    talla = 0

In [73]:
# Creamos un objeto persona1 de la clase Persona()
# y le asignamos valores

#Creación del objeto persona1
persona1 = Persona()

# Asignamos valores al objeto
persona1.nombre = "Orlando"
persona1.apellidos = "Perez Prado"
persona1.dni = "12345678"
persona1.talla = 1.7

# Para mostrar valores del objeto:
print("persona1")
print(f"Nombre: {persona1.nombre}")
print(f"Apellidos: {persona1.apellidos}")
print(f"DNI: {persona1.dni}")
print(f"Talla: {persona1.talla}")

persona1
Nombre: Orlando
Apellidos: Perez Prado
DNI: 12345678
Talla: 1.7

In [74]:
# Para utilizar constructores utilizamos: __init__
# ¿Qué es un constructor?
# - Es un método
# - Sirve para inicializar valores a una clase

In [75]:
#Problema 02:

# Crear la siguiente clase y utilizar constructores:
#  - Clase: Curso
#  - Atributos: Codigo, Nombre, horas, creditos,

In [77]:
# Solución:
class curso:
    def __init__(self, codigo, nombre, horas, creditos):
        self.codigo = codigo
        self.nombre = nombre
        self.horas = horas
        self.creditos = creditos

    def mostrar_datos_curso(self):
        print(f"Curso: {self.nombre}")
        print(f"Código: {self.codigo}")
        print(f"Horas: {self.horas}")
        print(f"Créditos: {self.creditos}")

In [78]:
# Creamos el objeto curso1 y le mandamos parámetros
curso1 = curso("C0501","LP3",6,3)

In [79]:
# Mostramos los datos completos del curso, ejecutando el metodo mostrar_datos_curso()
curso1.mostrar_datos_curso();

Curso: LP3
Código: C0501
Horas: 6
Créditos: 3